.col-75 {
	width:100%;
	overflow:hidden;
	font-size:20px;
	padding:8px 0;
	margin:8px 0;
	border-bottom:1px solid black;
	
}
.col-75 input{
	border:none;
	outline:none;
	background:none;
	color:white;
	font-size:18px;
	width:200px;
}
.btnid {
	width:100%;
	opacity:.8;
	color:white;
	padding:5px;
	font-size:18px;
	cursor:pointer;
	padding:10px 20px;
	background: linear-gradient(90deg, #366d9e, #23e3b0, #4520fe, #23e3b0);
	border:none;
	border-radius:8px;
	background-size:400%;
}

.btnid:hover{
	animation: animate 6s linear infinite;
}
@keyframes animate{
	0%{
		background-position:0%;
	}
	100%{
		background-position:400%;
	}
}

.btnid:before{
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gardient(90deg, #366d9e, #23e3b0, #4520fe, #23e3b0);
	background-size:400%;
	border-radius:40px;
	filter:blur(20px);
}

.form{
	width:350px;
	position:absolute;
	top:700px;
	left:50%;
	transform: translate(-50%,-50%);
	background:rgba(0,0,0,.8);
	padding-left:100px;
	padding-right:100px;
	padding-top:35px;
	box-shadow:0 15px 25px rgba(0,0,0,.5);
	border-radius:10px;
	
}

label {
	color:#366d9e;
	font-size:20px;
}



input[type="radio"]{
	width:100px;
	height:1em;
	border:0px;
}

input[type="date"]{
	border:none;
	outline:none;
	background:none;
	color:white;
	font-size:18px;
	width:200px;
}